# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environments
venv/
env/
ENV/
.venv/
.env/

# VS Code settings
.vscode/

# JetBrains IDEs (IntelliJ, PyCharm, etc.)
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db

# Python environment files
*.env
*.venv

# Test and coverage reports
htmlcov/
.tox/
.nox/
.coverage
coverage.xml
*.cover
*.py,cover

# MyPy
.mypy_cache/

# Pyre
.pyre/

# Logs
*.log

# Pip
pip-log.txt
pip-delete-this-directory.txt

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Local database
*.sqlite3
db.sqlite3

# PyInstaller
dist/
build/
*.spec
